/*...............................2.2 Content .......................*/
.content {
	min-height: 768px;
}
.container-ads-producs {
	width: 812px;
	height: 1214px;
	margin: 1px 277px 0 256px;
}
.ads{
	height: 399px;
	display: grid;
	grid-template-columns: 534px 257px; 
	grid-column-gap: 21px;
	background-color: #fff;
}
.ads-col-2 {
	display: grid;
	grid-template-rows: 142px 235px;
	grid-row-gap: 22px;
}
.ads-col-1 {
	background-color: #eee;
}
.item-1 {
	position: absolute;
	z-index: 0;
}
.item-3 {
	background-color: #dedede;
}
.bg-font-behind {
	width: 270px;
	height: 72px;
	text-align: right;
	margin: 164px 66px 162px 198px;
	font-family: Montserrat;
	font-weight: normal;
	color: #e1e1e1
}
.font-bold-56px {
	font-size: 56.91px;
}
.font-bold-35px {
	font-size: 35.57px !important;
}
.margin-bottom-3 {
	margin-bottom: 3px;
}
.margin-bottom-0 {
	margin-bottom: 0;
}
.ads-img {
	position: absolute;
	z-index: 1;
}
.margin-top-17 {
	margin-top:17px;
}
/*........................ item 2 ......................*/
.item-2 {
	background-color: #cad7df;
}
.border-solid-1px {
	border: 1px solid;
	border-color: #eaeff2 #e6ecf0 #dfe7ec #e3eaee;
	margin: 25px 22px 25px 22px;
	height: 92px;
}
.margin-left-88px {
	margin-left:88px;
}
.margin-top-left {
	margin: 47px 0 0 128px;
}