/*...............................2.2 Content .......................*/
/*........................2.2.1 Ads ...................*/
.container {
	max-width: 1170px;
}
.main-container {
	padding-left: -15px !important;
	padding-right: -15px !important;
	position: relative;
}
.ads {
	margin-top: 1px;
	font-family: Montserrat;
}
.wrapper {
	display: grid;
	grid-template-columns: 750px 360px;
  	grid-gap: 30px;
  	grid-auto-rows: 560px;
}
.ads-col-1 {
	background-color: #eeeeee;
	position: relative;
}
.ads-col-2 {
	display: grid;
	grid-template-rows: 200px 330px;
  	grid-gap: 30px;
}
.ads-row-1 {
	background-color: #cad7df;
	position: relative;
}
.ads-row-2 {
	background-image: url("../images/content/ads/bg-ads-3.png");
	position: relative;
}
.img-ads-1 {
	position: absolute;
	left:0;
	bottom: 0;
	z-index: 2;
}
.font-behind {
	width: 377px;
	position: absolute;
	top: 230px;
	right: 93px;
	left: 282px;
	margin-bottom: auto;
	z-index: 1;
	text-align: right;
	color: #e1e1e1;
}
.blyszak {
	font-weight: bold;
	font-size: 80px;
}
.eyewear {
	font-size: 50px;
}
.margin-bottom-0 {
	margin-bottom: 0;
}
.font-btn-before-ads-2 {
	width: 324px;
	position: absolute;
	right: 88px;
	top: 320px;
	left: 340px;
	z-index: 3;
}
.font-btn-before-ads-3 {
	width: 117px;
	position: absolute;
	right: 203px;
	top: 123px;
	left: 40px;
	z-index: 1;
}
.name-ads-1 {
	font-family: Pacifico;
	font-size: 30px;
	color: #000;
}
.btn {
	width: 106px;
	height: 40px;
	background-color: #8262b5;
	border-radius: 0;
	font-size: 14px;
	color: #fff;
	white-space: pre;
	line-height: normal;
}
.margin-btn-ads-1 {
	margin-right: 6px;
	margin-left: 212px;
}
.margin-btn-ads-2 {
	margin-right: 8px;
	margin-left: 1px;
	margin-top: 14px;
}
.img-ads-2 {
	position: absolute;
	top:0;
	right: 0;
	z-index: 2;
}
.border {
	position: absolute;
	border: 1px solid #fff;
	z-index: 1;
	right: 30px;
	left: 30px;
	top: 35px;
	bottom: 35px;
	width: 300px;
	height: 130px;
}
.name-ads-2 {
	width: 187px;
	position: absolute;
	z-index: 3;
	top: 88px; 
	right: 116px;
	left: 57px;
}
.name-row-1 {
	letter-spacing: 0.2em;
	font-size: 16px;
	margin-bottom: 0;
	line-height: normal;
	color: #616161;
}
.name-row-2 {
	font-size: 20px;
	font-weight: bold;
	white-space: pre;
	line-height: normal;
	margin-bottom: 0;
	color: #000;
}
/*........................2.2.2 Products ...................*/
.products {
	position: relative;
}
.products-title {
	width: 278px;
	font-family: Montserrat;
	font-weight: bold;
	padding-top: 79px; 
	position: relative;
}
.products-title-line-1 {
	font-size: 12px;
	color: #8262b5;
	letter-spacing: 0.5em;
	line-height: normal;
}
.products-title-line-2 {
	font-size: 24px;
	color: #000;
	letter-spacing: 0.1em;
	line-height: normal;
	margin-bottom: 29px;
}
.products-title-line-2::after {
 	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	width: 50px;
	border-bottom: 1px solid black;
	margin-top: 29px;
}
.products-items {
	font-family: fontawesome;
	padding-top: 50px;
}
.products-grid {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
  	grid-gap: 49px;
}
.products-row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
  	grid-gap: 31px;
  	grid-auto-rows: 406px;
}
.products-img {
	position: relative;
}
.add-to-cart {
	position: absolute;
	width: 118px;
	height: 40px;
	top: 278px; 
	right: 139px;
	left: 5px;
	z-index: 2;
	background-color: #fff;
	color: #424242;
}
.add-to-cart:hover {
	color: #8262b5;
}
.value {
	display: inline;
	color: #8262b5;
}
.discount {
	text-decoration: line-through;
	display: inline;
	color: #999999;
} 
.color-star {
	color: #f8ba04;
}
.margin-bottom-0 {
	margin-bottom: 0;
}
.star {
	font-size: 13px;
	color: #d1d1d1;
	line-height: normal;
}
.products-text {
	font-size: 16px;
}
.name-product {
	font-size: 14px;
	color: #000;
}
/*........................2.2.2 Blogs ...................*/
.blogs-content {
	margin-top: 73px;
	background-image: url("../images/content/blogs/bg-blog.jpeg");
	font-family: Montserrat;
	font-size: 14px;
}
.blog-title {
	width: 235px;
	padding-top: 80px;
	margin-left: 454px;
	margin-right: 451px;
	text-align: center;
	position: relative;
}
.title-line-1 {
	font-size: 12px;
	color: #8262b5;
	font-weight: bold;
	letter-spacing: 0.5em;
	line-height: normal;
}
.title-line-2 {
	font-size: 24px;
	color: #000;
	font-weight: bold;
	letter-spacing: 0.1em;
	white-space: pre;
	line-height: normal;
}
.title-line-2::after {
	content: "";
	position: absolute;
	width: 50px;
	top: 100%;
	left: 92px;
	border-bottom: 1px solid #000;
	line-height: normal;
}
.blog-items {
	margin-top: 50px;
}