/*...............................2.2 Content .......................*/
/*........................2.2.1 Ads ...................*/
@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}
.ads {
	padding-top: 30px;
	font-family: Montserrat;
}
.ads-row-1 {
	position: relative;
}
.ads-row-2 {
	position: relative;
	margin-top: 30px;
}
.duplicate-ads-3 {
	display: none;
}
.margin-bottom-0 {
	margin-bottom: 0;
}
.font-btn-before-ads-1 {
	position: absolute;
	top: calc(50% + 80px);
	left: calc(50% + 113px);
	z-index: 1;
	transform: translate(-50%, -50%)
}
.font-btn-before-ads-3 {
	position: absolute;
	top: calc(50% + 13px);
	left: calc(50% - 99px);
	z-index: 1;
	transform: translate(-50px, -50px);
}
.name-ads-1 {
	font-family: Pacifico;
	font-size: 30px;
	color: #000;
}
.btn {
	background-color: #8262b5;
	border-radius: 0;
	font-size: 14px;
	color: #fff;
	white-space: pre;
	line-height: normal;
}
.margin-btn-ads-1 {
	margin-right: 6px;
	margin-left: 212px;
}
.margin-btn-ads-2 {
	margin-right: 8px;
	margin-left: 1px;
	margin-top: 14px;
}
.name-ads-2 {
	position: absolute;
	z-index: 1;
	top: calc(50% + 6px);
	left: calc(50% - 16.5px);
	transform: translate(-50%, -50%);
}
.name-row-1 {
	letter-spacing: 0.2em;
	font-size: 16px;
	margin-bottom: 0;
	line-height: normal;
	color: #616161;
}
.name-row-2 {
	font-size: 20px;
	font-weight: bold;
	white-space: pre;
	line-height: normal;
	margin-bottom: 0;
	color: #000;
}
/*........................2.2.2 Products ...................*/
.products {
	position: relative;
}
.products-title {
	width: 278px;
	font-family: Montserrat;
	font-weight: bold;
	padding-top: 79px; 
	position: relative;
}
.products-title-line-1 {
	font-size: 12px;
	color: #8262b5;
	letter-spacing: 0.5em;
	line-height: normal;
}
.products-title-line-2 {
	font-size: 24px;
	color: #000;
	letter-spacing: 0.1em;
	line-height: normal;
	margin-bottom: 29px;
}
.products-title-line-2::after {
 	content: "";
	position: absolute;
	left: 15px;;
	top: 100%;
	width: 50px;
	border-bottom: 1px solid black;
}
.products-items {
	font-family: Font Awesome 5 Pro;
	padding-top: 50px;
}
.products-img {
	position: relative;
}
.add-to-cart {
	position: absolute;
	width: 118px;
	height: 40px;
	bottom: 5px; 
	left: 5px;
	z-index: 2;
	background-color: #fff;
	color: #424242;
}
.add-to-cart:hover {
	color: #8262b5;
}
.value {
	display: inline;
	color: #8262b5;
}
.discount {
	text-decoration: line-through;
	display: inline;
	color: #999999;
} 
.color-star {
	color: #f8ba04;
}
.margin-bottom-0 {
	margin-bottom: 0;
}
.star {
	font-size: 13px;
	color: #d1d1d1;
	line-height: normal;
}
.products-text {
	font-size: 16px;
}
.name-product {
	font-size: 14px;
	color: #000;
}
.row-2 {
	padding-top: 47px;
}
/*........................2.2.2 Blogs ...................*/
/*...........Default Before Resposive..............*/
.img-blog-1-sub {
	display: none !important;
}
.img-blog-2-sub {
	display: none !important;
}
.img-blog-3-sub {
	display: none !important;
}
/*.................................................*/
.padding-bottom {
	padding-bottom: 50px;
}
.blogs-content {
	margin-top: 73px;
	background-image: url("../images/content/blogs/bg-blog.jpeg");
	font-family: Montserrat;
	font-size: 14px;
}
.blog-title {
	padding-top: 80px;
	text-align: center;
	position: relative;
}
.title-line-1 {
	font-size: 12px;
	color: #8262b5;
	font-weight: bold;
	letter-spacing: 0.5em;
	line-height: normal;
}
.title-line-2 {
	font-size: 24px;
	color: #000;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: normal;
}
.title-line-2::after {
	content: "";
	position: absolute;
	width: 50px;
	top: 100%;
	left: 47.5%;
	border-bottom: 1px solid #000;
}
.blog-items {
	margin-top: 80px;
}
.img-blog {
	position: relative;
}
.date-block-blog {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 1;
	left: 20px;
	top: 22px;
	background-color: #a1d1dd;
}
.border-blog-date {
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	margin: 6px 5px 4px 5px;
	color: #fff;
	text-align: center;
}
.date-line-1 {
	margin-top: 6px;
	margin-bottom: 0;
	line-height: normal;
}
.date-line-2 {
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
}
.content-item-blog {
	background-color: #fff;
}
.text-content {
	padding-top: 19px;
	padding-left: 19px;
	padding-right: 35px;

}
.title-content-blog {
	font-size: 16px;
	color: #000;
	line-height: normal;
}
.description-blog {
	font-family: 'Open Sans', sans-serif;
	color: #424242;
	line-height: 1.5em;
}
.info-blog {
    height: 55px;
	border-top: 1px solid #ededed;
	font-family: Font Awesome 5 Pro;
	font-size: 14px;
	color: #c0c0c0;
	padding-left: 19px;
	padding-top: 0.8em;
	padding-bottom: 0.2em;
}
.like {
	margin-left: 2.2em;
}
.title-content-blog:hover {
	color: #8262b5;
	text-decoration: none;
	cursor: pointer;
}
.load {
	padding-top: 30px;
	width: 56px;
	margin-left: 542px;
	margin-right: 542px;
	padding-bottom: 59px;
	align-items: center;
}
.slick-dots li button::before {
    font-size: 40px !important;
    color: #8262b5 !important;
}
.slick-dots li button {
	color: #b3a6c7 !important;
}

/*.................Responsive Body......................*/
@media (min-width: 376px) and (max-width: 575px) {
	.products-items .col-12 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.img-blog-1-main {
		display: none !important;
	}
	.img-blog-2-main {
		display: none !important;
	}
	.img-blog-3-main {
		display: none !important;
	}
	.img-blog-1-sub {
		display: block !important;
	}
	.img-blog-2-sub {
		display: block !important;
	}
	.img-blog-3-sub {
		display: block !important;
	}
}
@media (min-width: 320px) and (max-width: 375px) {
	.font-btn-before-ads-3 {
		left: calc(50% - 80px);
	}
}
@media (min-width: 320px) and (max-width: 575px) {
	.img {
		width: 100%;
		object-fit: cover;
	}
	.name-ads-1 {
		font-size: 17px;
		white-space: pre;
	}
	.font-btn-before-ads-1 {
		top: calc(50% + 45px);
		left: calc(50% + 50px);
	}
	.margin-btn-ads-1 {
		margin-left: 70px;
	}
	.ads-col-2 {
		margin-top: 10px;
	}
	.ads-row-2 {
		margin-top: 10px;
	}
	.btn {
		font-size: 10px;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.img {
		width: 100%;
		object-fit: cover;
	}
}
@media (min-width: 768px) and (max-width: 1080px) {
	.img {
		width: 100%;
		object-fit: cover;
	}
}
@media (min-width: 415px) and (max-width: 991px) {
	.ads-row-1 {
		display: none;
	}
	.duplicate-ads-3 {
		display: block;
	}
}
@media (min-width: 415px) and (max-width: 767px) {
	.font-btn-before-ads-3 {
		left: calc(50% - 60px);
	}
	.font-btn-before-ads-1 {
		top: calc(50% + 50px);
		left: calc(50% + 70px);
	}
}

