/*...............................2.3 Footer .......................*/
$height-footer: 297px;
footer {
	height: $height-footer;
	background-color: #222222;
}
.content-footer {
	height: 247px;
}
.copyright {
	height: 50px;
}
.color-hr-footer {
	color: #2e2e2e;
}